$space: 30px;
$border: 1px solid #ebebeb;

.columns {
    display: flex;
    flex-direction: column;
}

.filter {
    margin-bottom: $space;
    padding: 0 $space;
    border: $border;
}

.side {
    border: $border;
    padding: $space;
    h2 {
        margin-top: 0;
    }
}

@media (min-width: 800px) {
    .columns {
        flex-direction: row;
    }

    .side {
        flex: 1;
        display: flex;
    }

    .chart {
        flex: 3;
        padding-right: $space;
    }
}
