$space: 30px;

.columns {
    display: flex;
    flex-direction: column;
}

.filter {
    margin-bottom: $space;
}

@media (min-width: 640px) {
    .columns {
        flex-direction: row;
    }

    .side {
        flex: 1;
    }

    .chart {
        flex: 3;
        padding-right: $space;
    }
}
